<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="cat" class="ByType.Categories" autowire="byType">
		<property name="Name" value="Life Insurance" />
	</bean>
	<bean id="policy" class="ByType.Policy">
		<property name="planName" value="Term Plan" />
		<property name="planAmount" value="8500" />
	</bean>
</beans>
